@page "/home"

<PageTitle>Index</PageTitle>




<div style="display:flex;justify-content:center;align-items:center">
    <MudIcon Color="Color.Warning" Icon="@Icons.Material.Filled.AccessibleForward" Style="font-size: 5rem;" />
    <MudText Style="font-size: 5rem;">
        不講道理，只談物理
    </MudText>
    <MudIcon Color="Color.Warning" Icon="@Icons.Material.Filled.AirlineSeatFlatAngled" Style="font-size: 5rem;" />
</div>

<MudPaper Class="pa-16 ma-2" Elevation="3">
    <MudText Typo="Typo.h5">仙姑降臨，萬事通通搞定</MudText>
    <MudText Class="mt-3" Typo="Typo.subtitle1"> 好心仙姑？好笑仙姑！</MudText>
    <MudText Typo="Typo.body2">你以為仙姑都是優雅的？嘿，這位仙姑可不一樣！她的超能力包羅萬象，不僅能幫你找到遺失的智商，還能讓你在沒有帶腦情況下做事！但是，她的魔法有時候也會玩笑開大，所以別吃驚如果你某一天突然躺在棺材裡！</MudText>
    <MudText Class="mt-3" Typo="Typo.subtitle1">仙姑的愛情箭，準確無誤?</MudText>
    <MudText Typo="Typo.body2">單身狗們，別急！我們的仙姑也是愛情箭的高手！只要你向她許願，她就會將愛情箭射向你心儀的對象。但是，要小心，有時候她可能會弄錯目標，讓你成了對方的愛情箭靶子！</MudText>
</MudPaper>


