@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Tertiary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudIcon Color="Color.Warning" Icon="@Icons.Custom.Uncategorized.BioHazard" Style="font-size: 2rem;" />
            <MudText Typo="Typo.h5" Class="mt-1">仙姑傳道系統</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="p-3">
        @Body
        </div>
    </MudMainContent>
    <div class="fixed-bottom p-5">
        Copyright © 2023-2026 卓仙姑團隊.
    </div>
</MudLayout>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
